.card__like {
    background: none;
    border: none;
    box-shadow: none;
    width: 21px;
    height: 18px;
    background-image: url('../../../images/like.svg');
}

.card__like:hover {
    cursor: pointer;
    opacity: .6;
    transition: opacity .5s;
}