.footer {
    max-width: 318px;
    margin: 66px auto 0 199px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 71px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-left: 89px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin: 48px auto 0 75px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-left: 19px;
    }
}



